<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>Video Library Management</title>
<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/media-queries.css" />
<link rel="stylesheet" type="text/css" href="/js/player/mediaelementplayer.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700' rel="stylesheet" type='text/css'>
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="/stylesheets/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="/stylesheets/ie9.css" media="all" />
<![endif]-->

<script type="text/javascript" src="http://localhost:4400/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/retina.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/selectnav.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/mediaelement.min.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/mediaelementplayer.min.js"></script>


<script type="text/javascript">
	$.backstretch("http://localhost:4400/images/bg/1.jpg");
</script>
</head>
<body>
<div class="scanlines"></div>
<!-- Begin Header -->
<div class="header-wrapper opacity">
	<div class="header">
		<!-- Begin Logo -->
		<div class="logo">
		    <% if (typeof admin_fname != 'undefined') { %>
		    	<h2>Welcome, <%= admin_fname %></h2>
		    <% } else { %>
		    	<h2>Welcome</h2>
		    <% } %>
	    </div>
		<!-- End Logo -->
		<!-- Begin Menu -->
		<div id="menu-wrapper">
			<div id="menu" class="menu">
				<ul id="tiny">
				<li class="active">
				<a href="/admin_home">Home</a> </li>
				<li><a href="userreg">Register New User </a></li>
				<li><a href="/registermovie">Register New Movie </a></li>
				<li><a href="/movie/cart/show">Cart </a></li>
				<% if (typeof admin_fname != 'undefined') { %>
					<li><a href="/logout">Logout</a></li>
				<% } else { %>
				<% } %>
				
						
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		<!-- End Menu -->
	</div>
</div>
<!-- End Header -->


<!-- Begin Wrapper -->
<div class="wrapper"><!-- Begin Intro -->
<div class="intro"> VIDEO LIBRARY MANAGEMENT SYSTEM </div>
  <ul class="social">
<li><a class="rss" href="#"></a></li><li><a class="facebook" href="#"></a></li><li><a class="twitter" href="#"></a></li><li><a class="pinterest" href="#"></a></li><li><a class="dribbble" href="#"></a></li><li><a class="flickr" href="#"></a></li><li><a class="linkedin" href="#"></a></li></ul><!-- End Intro --> 

<% if(typeof member_id !== 'undefined' && typeof message !== 'undefined') { %>
	<div class="info-box"><%=message%> and the User ID is <%= member_id %></div>
<% } else if(typeof message !== 'undefined') { %>
	<div class="info-box"><%=message%></div>
<% } %>

<% if(typeof movie_added_message !== 'undefined') { %>
<div class="info-box"><%=movie_added_message%> </div>
<% } else { %>
<% } %>

<% if(typeof error_message !== 'undefined') { %>
<div class="warning-box"><%=error_message%></div>
<% } else { %>
<% } %>

<!-- Begin Blog Grid -->
<div class="blog-wrap">
	<!-- Begin Blog -->
	<div class="blog-grid">
	<!-- Member Search Details -->
		<div class="post format-link box"> 

			<h2 class="title">Search Members <span class="arrow">&rarr;</span></h2>
			<p>Search for the Registered Members by Member ID, First Name, Last Name or Email ID</p>
	
			<div class="widget widget_search">
				<form class="searchform" method="post" action="/searchuser/0">
					<input type="text" name="search" placeholder="search for members..." onFocus="this.value=''" />
					<br><br>
					Search By : <select name="criteria"> <id="crieria">
					<option value="user_id" default>Member ID </option>
					<option value="first_name">First Name</option>
					<option value="last_name">Last Name</option>
					<option value="EMAIL">Email</option>
					<option value="zipcode">Zip Code</option>
					<option value="city">City</option>
					<option value="state">State</option>
					</select>
					Member Type : <select name="type"> <id="type">
					<option value="simple" default>Simple</option>
					<option value="premium">Premium</option>
					</select>
				<br><br>
				<input type = "submit" value = "Search" />
			</form>
			</div>
			<br><br>
			<div class="details">
				<span class="icon-standard"><a href="#"></a></span>
				<span class="likes"><a href="#" class="likeThis"></a></span>
				<span class="comments"><a href="#"></a></span>
			</div>
		
		</div> 
		<!-- End Member Search -->
		
		<!-- Begin Movie Search -->
 		<div class="post format-standard box"> 

			<h2 class="title">Search Movies <span class="arrow">&rarr;</span></h2>
			<p>Search for the Movies by Movie ID, Movie Name, Banner, Category or Release Year</p>
			
			<div class="widget widget_search">
			<form class="searchform" method="post" action="/showMovieList/0">
					<input type="text" name="member_id" placeholder="member id..." onFocus="this.value=''" required/>
					<input type="text" name="search" placeholder="search for..." onFocus="this.value=''"/>
					<br><br>
					Search By : <select name="category"> <id="category">
					<option value="MOVIE_NAME" default>Movie Name</option>
					<option value="MOVIE_ID">Movie ID</option>
					<option value="MOVIE_BANNER">Movie Banner</option>
					<option value="CATEGORY">Movie Category</option>
					<option value="RELEASE_DATE">Release Year</option>
				</select>
				<br><br>
				<input type = "submit" value = "Search" />
			</form>
			</div>
			<br><br>
			<div class="details">
				<span class="icon-standard"><a href="#"></a></span>
				<span class="likes"><a href="#" class="likeThis"></a></span>
				<span class="comments"><a href="#"></a></span>
			</div>

	
		</div>
		<!-- End Movie Search  --> 										
	
	
		<!-- Begin Image Format -->
		<div class="post format-image box"> 
			<div class="frame">
				<!-- <a href="adminlogin.ejs">-->
					<img src="http://localhost:4400/images/art/Upcoming-Marvel-Superhero-Movies.jpg" alt="" />
				</a>
				
			</div>
			<!-- <h2 class="title"><a href="adminlogin.ejs">Admin Login</a></h2> -->
			<p></p>
			
		</div>
		<!-- End Image Format -->
			

 	
		<!-- Begin Quote Format -->
		<div class="post format-video box"> 
		<!--<p> <font size ="9"> Upcoming Movies </font> </p>-->
		<div class="video frame"><iframe width="560" height="315" src="//www.youtube.com/embed/dYDGqmxMZFI" frameborder="0" allowfullscreen></iframe></div>
		
		</div>
		
		<!-- End Quote Format --> 	

		
 	
 	</div>
	<!-- End Blog -->
</div>
<!-- End Blog Grid -->

<!-- Begin Page-navi -->
    <div id="navigation">
      <div class="nav-previous"><a href="#" ><span class="meta-nav-prev">&larr; Older posts</span></a></div>
      <!-- 
			<div class="nav-next"><a href="#" ><span class="meta-nav-next">Newer posts &rarr;</span></a></div>
			 --> 
    </div>
    <!-- End Page-navi --> 

</div>
<!-- End Wrapper -->

<!-- Begin Footer -->
<div class="footer-wrapper">
<div id="footer" class="four">
		<div id="first" class="widget-area">
			<div class="widget widget_search">
				<h3 class="widget-title">Search</h3>
				<form class="searchform" method="get" action="#">
					<input type="text" name="s" value="type and hit enter" onFocus="this.value=''" onBlur="this.value='type and hit enter'"/>
				</form>
			</div>
			<div class="widget widget_archive">
				<h3 class="widget-title">Archives</h3>
				<ul>
					<li><a href="#">September 2012</a> (6)</li>
					<li><a href="#">August 2012</a> (2)</li>
					<li><a href="#">July 2012</a> (2)</li>
					<li><a href="#">June 2012</a> (4)</li>
					<li><a href="#">May 2012</a> (3)</li>
					<li><a href="#">January 2012</a> (1)</li>
				</ul>
			</div>	
		</div><!-- #first .widget-area -->
	
		<div id="second" class="widget-area">
			<div id="twitter-2" class="widget widget_twitter">
					<h3 class="widget-title">Twitter</h3>
					
					<div id="twitter-wrapper">
						<div id="twitter"></div>
						<span class="username"><a href="https://twitter.com/aiyarankith">Follow @aiyarankith</a></span>
						<span class="username"><a href="https://twitter.com/nidhi_ardent">Follow @nidhi_ardent</a></span>
						
					</div>
			</div>
		</div><!-- #second .widget-area -->
	
		<div id="third" class="widget-area">
		<div id="example-widget-3" class="widget example">
			<h3 class="widget-title">Popular Posts</h3>
			<ul class="post-list">
			  	<li> 
			  		<div class="frame">
			  			<a href="#"><img src="http://localhost:4400/images/art/s1.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h6><a href="#">Charming Winter</a></h6>
					    <em>28th Sep 2012</em>
				    </div>
				</li>
				<li> 
			  		<div class="frame">
			  			<a href="#"><img src="http://localhost:4400/images/art/s2.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h6><a href="#">Trickling Stream</a></h6>
					    <em>5th Sep 2012</em>
				    </div>
				</li>
				<li> 
			  		<div class="frame">
			  			<a href="#"><img src="http://localhost:4400/images/art/s3.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h6><a href="adminlogin.ejs">Morning Glory</a></h6>
					    <em>26th Sep 2012</em>
				    </div>
				</li>
			</ul>
			
		</div>
		</div><!-- #third .widget-area -->
		
		<div id="fourth" class="widget-area">
		<div class="widget">
			<h3 class="widget-title">Help</h3>			
		</div>
		</div><!-- #fourth .widget-area -->
	</div>
</div>
<div class="site-generator-wrapper">
	<div class="site-generator">Copyright Obscura 2012. Design by <a href="http://elemisfreebies.com">elemis</a>. All rights reserved.</div>
</div>
<!-- End Footer --> 
<script type="text/javascript" src="http://localhost:4400/js/scripts.js"></script>
</body>
</html>